* {
    font-family: "Fira Code", monospace;
}

body {
    padding: 6%;
    width: 70%;
    background-color: #f4f1de;
    color: #3d405b;
    font-size: 16px;

}

img {
    height: 25vh;
    object-fit: cover;
    border-radius: 40px;
    margin: 20px 0px;
}


#hero {
    margin-bottom: 5%;

    h1 {
        padding-left: 20px;
    }
}

#bts {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 900px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.nav {
    display: flex;
    padding: 10px 20px;
    justify-content: left;
    gap: 10px;
}

.nav-element {
    background-color: #3d405b;
    color: #f4f1de;
    text-align: center;
    font-size: 1.1rem;
    padding: 8px 20px;
    border-radius: 30px;
}


.nav-selected {
    background-color: #e07a5f;
}

.nav-selected a {
    color: #3d405b;
}

a {
    color: #e07a5f;
    text-decoration: none;
    font-weight: bold;
}

.nav-element:hover {
    background-color: #e07a5f;
    transition: 0.5s easy-int-out;
    box-shadow: 0 0 10px 3px #e07a5f;
    transition-delay: 1s;

}

.nav-element:hover a {
    color: #3d405b;
    transition-duration: 0.5s easy-in-out;

}

table {
    border: 1px solid #3d405b margin: 5% 0%;
    padding: 6% 3%;
    background-color: #f4f1de;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: #f4f1de;
    border-spacing: 1em;
    table-layout: fixed;
    width: 100%;

}

table.border_right {
    border-right: 2px dotted #3d405b;
}

table.border_bottom {
    border-bottom: #3d405b 4px double;
    border-spacing: 1em;
}

tr {
    border: 1px solid #3d405b;
    border-radius: 40px;
    padding: 2%;
    margin: 2% 2%;
    margin-bottom: 6%;
    width: 100%;
}


.section {
    background-color: #f2cc8f;
    border-radius: 40px;
    padding: 8% 5% 8% 5%;
    margin-bottom: 4%;
    gap: 8%;
    animation: fadeup 1s;
}

.section h2 {
    text-decoration: underline;
    animation: slideInLeft 1s;
}

.section p {
    animation: slideInLeft 1.3s;
}

.author {
    color: #81b29a;
}

.animate {
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;
}

.slide {
    animation: slide 1s;
}

.fadeup {
    animation: fadeup 1s;
}

.slideInLeft {
    animation: slideInLeft 1s;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translate(0, 00px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translate(-15px, 00px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

footer {
    background-color: #3d405b;
    color: #f4f1de;
    border-radius: 40px;
    padding: 10px 55px;
    text-align: end;

}




h1 {
    font-size: 2rem;
    animation: slide 0.5s;
}

h3 {
    font-size: 1.6rem;
}

@media (max-width: 1050px) {
    body {
        width: 80%;
    }

    #bts {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .nav {
        flex-direction: column;
    }

    body {
        width: 100%;
    }
}