/* static/css/gallery.css */

body {
    font-family: 'Fira Code', monospace;
    background-color: #f4f1de;
    padding: 6%;
    width: 60%;
}

.nav {
    display: flex;
    padding: 10px 20px;
    justify-content: left;
    gap: 10px;
}

.nav-element {
    background-color: #3d405b;
    color: #f4f1de;
    text-align: center;
    font-size: 1.1rem;
    padding: 8px 20px;
    border-radius: 30px;
}



a {
    color: #e07a5f;
    text-decoration: none;
    font-weight: bold;
}

.nav-selected {
    background-color: #e07a5f;
}

.nav-selected a {
    color: #3d405b;
}

.nav-element:hover {
    background-color: #e07a5f;
    transition: 0.5s easy-int-out;
    box-shadow: 0 0 10px 3px #e07a5f;
    transition-delay: 1s;

}

img {
    width: 90%;
}

#hero {
    margin-bottom: 5%;
    color: #3d405b;
    font-style: normal;
    align-items: start;
    padding: 20px 0;
    font-size: 6rem;
}

.nav-element:hover a {
    color: #3d405b;
    transition-duration: 0.5s easy-in-out;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff6d;
    backdrop-filter: blur(5px);

}


footer {
    background-color: #3d405b;
    color: #f4f1de;
    border-radius: 40px;
    padding: 10px 55px;
    text-align: end;

}




h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

.animate {
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;

}

.animate-slide {
    animation-name: animate-slide;
    animation-delay: 0.5s;
}

@keyframes animate-slide {
    0% {
        opacity: 0;
        transform: translate(-10px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media (max-width: 1050px) {
    body {
        width: 80%;
    }

}

@media (max-width: 480px) {
    .nav {
        flex-direction: column;
    }

    body {
        width: 90%;
    }
}