<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Submit Review</title>
    {% load static %}
    <!-- Add links to CSS files or other static files here -->


    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
</head>

<body>
    <h1>Submit a Review</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Review</button>
    </form>
    <div id="backtohomebutton">
        <a href="{% url 'index' %}">Back to Home</a>
    </div>
</body>

</html>